<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.webapp.repository.AccountMapper">

  <!-- アカウント登録処理 -->
  <insert id="insert"
          parameterType="com.example.webapp.entity.Account"
          useGeneratedKeys="true"
          keyProperty="id">

    INSERT INTO accounts
      (address, password, nickname, attribute, group_id, follow_id)
    VALUES
      (#{address}, #{password}, #{nickname}, #{attribute}, #{groupId}, #{followId})

  </insert>

</mapper>
