<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.webapp.repository.MedicineMapper">

	<select id="select"
		resultType="com.example.webapp.entity.Medicine">
		SELECT * FROM medicines
	</select>
	
	<select id="findById"
		resultType="com.example.webapp.entity.Medicine">
		SELECT mt.taking_id, m.id, m.name
		FROM medicine_taking mt
		JOIN medicines m
		ON mt.medicine_id = m.id
		WHERE mt.taking_id IN #{takingIds}
	</select>
	
	<insert id="insert"
		parameterType="com.example.webapp.entity.Medicine">
		INSERT INTO medicines (name, effect)
		VALUES (#{name}, #{effect})
	</insert>
</mapper>