<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.webapp.repository.PostMapper">
	<insert id="insert"
		parameterType="com.example.webapp.entity.Post"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO diaries (account_id, feeling, text, date)
		VALUES (#{accountId}, #{feeling}, #{text}, #{date})
		RETURNING id
	</insert>
	
	<update id="update"
		parameterType="com.example.webapp.entity.Post"
		useGeneratedKeys="true" keyProperty="id">
		UPDATE diaries
		SET feeling = #{feeling}, text = #{text}
		WHERE date = #{date} and account_id = #{accountId}
		RETURNING id
	</update>
	
	<insert id="insertScope"
		parameterType="com.example.webapp.entity.Scope">
		INSERT INTO scopes (diary_id, group_id, setting)
		VALUES
		<foreach collection="scopes" item="scope" separator=",">
		(#{scope.diaryId}, #{scope.groupId}, #{scope.setting})
		</foreach>
	</insert>
	
	<update id="updateScope"
		parameterType="com.example.webapp.entity.Scope">
	    UPDATE scopes
	    SET setting = CASE
	        <foreach collection="list" item="scope">
	            WHEN diary_id = #{scope.diaryId} AND group_id = #{scope.groupId} THEN #{scope.setting}
	        </foreach>
	    END
	    WHERE (diary_id, group_id) IN
	    <foreach collection="list" item="scope" open="(" separator="," close=")">
	        (#{scope.diaryId}, #{scope.groupId})
	    </foreach>
	</update>


	<select id="select"
		resultType="com.example.webapp.entity.Post">
		SELECT * FROM diaries WHERE date = #{date}
	</select>
</mapper>