<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.webapp.repository.TakingMapper">
	
	<insert id="insertTaking"
		parameterType="com.example.webapp.entity.Taking"
		useGeneratedKeys="true" keyProperty="takingId">
		INSERT INTO takings (account_id, time)
		VALUES (#{accountId}, #{time})
		RETURNING id
	</insert>

	<insert id="insert"
		parameterType="com.example.webapp.entity.Taking">
		INSERT INTO medicine_taking (medicine_id, taking_id)
		VALUES (#{medicineId}, #{takingId})
	</insert>
	
	<select id="selectTaken"
		resultType="com.example.webapp.entity.Taking">
		SELECT m.name, t.time
		FROM takings t
		JOIN medicine_taking mt ON t.id = mt.taking_id
		JOIN medicines m ON m.id = mt.medicine_id
		WHERE t.id = #{takingId}
	</select>
	
	<select id="findToday"
		resultType="com.example.webapp.form.TakingForm">
		SELECT t.id AS taking_id, t.time, m.id AS medicine_id, m.name
		FROM takings t
		JOIN medicine_taking mt ON t.id = mt.taking_id
		JOIN medicines m ON mt.medicine_id = m.id
		WHERE t.account_id = #{accountId}
		AND DATE(t.time) = #{localDate}
		ORDER BY t.time, m.id
	</select>
	
</mapper>