<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.QuestionMapper">
    <select id="selectAllQuestion" resultType="com.example.demo.entity.Questions">
        SELECT id, category_id, question_text, explanation, created_at, updated_at
        FROM questions
        ORDER BY created_at DESC
        LIMIT 3
    </select>
    </mapper>