<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>グループ管理画面</title>
</head>

<body>
	<h2>グループ管理</h2>
		<div th:each="group : ${groups}">
			<p>[[${group.name}]]　(招待コード:[[${group.code}]])</p>
			<div th:each="account : ${accounts}">
				<ul th:if="${group.id == account.groupId}">
					<li th:text="${account.nickname}"></li>
				</ul>
			</div>
		</div>
		<a th:href="@{/group/edit}">グループ追加・削除</a>
		<br>
		<a th:href="@{/group/member}">メンバーの移動</a>
</body>

</html>