<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ホーム</title>
</head>

<body>
	<h2>ホーム画面</h2>
	<p>今日の日付は [[${postForm.date}]] です。</p>
	<form th:action="@{/}" method="post" th:object="${postForm}">
		<input type="text" th:field="*{text}">
		<br>
		<label>
	        <input type="radio" th:field="*{feeling}" value="1"> 1
	    </label>
	    <label>
	        <input type="radio" th:field="*{feeling}" value="2"> 2
	    </label>
	    <label>
	        <input type="radio" th:field="*{feeling}" value="3"> 3
	    </label>
	    <label>
	        <input type="radio" th:field="*{feeling}" value="4"> 4
	    </label>
	    <label>
	        <input type="radio" th:field="*{feeling}" value="5"> 5
	    </label>
		<br>
		<div th:each="group: *{groups}">
		    <input type="checkbox" th:name="${group.id}" th:value="${group.id}"
				th:checked="${groupIds.contains(group.id)}">
		    <span th:text="${group.name}"></span>
			<br>
		</div>
		<input type="submit" value="投稿">
		
	</form>
	
	<div th:each="taking: ${takingForms}">
		<a>[[${taking.name}]]：[[${taking.time}]]</a>
	</div>
	
</body>

</html>