<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ユーザー情報編集</title>
</head>
<body>
    <h2>ユーザー情報編集</h2>

	<form th:action="@{/user/update}" th:object="${userInfo}" method="post">
	    <input type="hidden" th:field="*{id}" />

	    <label>ニックネーム:</label>
	    <input type="text" th:field="*{nickname}" /><br><br>

	    <label>疾患:</label>
	    <select th:field="*{choice}">
	        <option th:each="d : ${disease}" th:value="${d.id}" th:text="${d.name}"></option>
	    </select><br><br>

	    <button type="submit">保存</button>
	</form>


    <br>
    <a href="user.html">戻る</a>
</body>
</html>